* {
  font-family: Helvetica, sans-serif, Arial;
  color: white;
}

body{
  padding: 60px;
  background-color: black;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

h3{
  color: red;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.card {
  display: flex;
  align-content: center;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 6px;
  align-items: center;
  border-color: black;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p{
  padding: 4px;
  text-align: center;
  color: white;
}

.card img {
  height: 70%;
  width: 100%;
}

